<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositions</key>
	<array>
		<dict>
			<key>adjustmentRatioX</key>
			<real>0.0</real>
			<key>adjustmentRatioY</key>
			<real>0.0</real>
			<key>children</key>
			<array>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxMjY1XGNvY29hc3VicnRmMjEwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O30KXHBh
					cmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0eDIy
					NDBcdHgyODAwXHR4MzM2MFx0eDM5MjBcdHg0
					NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYwXHR4
					NjcyMFxwYXJkaXJuYXR1cmFsXHFjCgpcZjBc
					YlxmczQwIFxjZjAgXHVwMCBVc2UgQ2FzZSBm
					b3IgTWFjcm8gR2VuZXJhdG9yOn0=
					</data>
					<key>className</key>
					<string>Text</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<true/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>-2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>frame</key>
					<string>{{0, 40}, {1024, 100}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>12C852CC-51B3-43FF-90F6-13343542D8CB</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>160</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>-2</real>
					<key>strokeType</key>
					<integer>3</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Text</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>className</key>
					<string>Man</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>-2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{208, 245}, {40, 100}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>D254D40C-85F2-4B0D-B659-8580F42964E7</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>2</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>-2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Person</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxMjY1XGNvY29hc3VicnRmMjEwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O30KXHBh
					cmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0eDIy
					NDBcdHgyODAwXHR4MzM2MFx0eDM5MjBcdHg0
					NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYwXHR4
					NjcyMFxwYXJkaXJuYXR1cmFsXHFjCgpcZjBc
					ZnMyNCBcY2YwIFx1cDAgR2VuZXJhdGUgRmls
					ZX0=
					</data>
					<key>className</key>
					<string>Ellipse</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>-2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{397, 237}, {140, 58}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>4E1DA753-C686-43F3-831A-E9F93E980837</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>115</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>-2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Ellipse</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>arrowTypeA</key>
					<integer>0</integer>
					<key>arrowTypeB</key>
					<integer>1</integer>
					<key>className</key>
					<string>Line</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>curveRatio</key>
					<real>0.0</real>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>-2</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>flipped</key>
					<false/>
					<key>frame</key>
					<string>{{248, 277}, {149, -5}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>C10E606E-FF36-4431-9B0E-02097B2E0FA6</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>pathType</key>
					<integer>0</integer>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>115</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>-2</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Line</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYxMjY1XGNvY29hc3VicnRmMjEwCntc
					Zm9udHRibFxmMFxmc3dpc3NcZmNoYXJzZXQw
					IEhlbHZldGljYTt9CntcY29sb3J0Ymw7XHJl
					ZDI1NVxncmVlbjI1NVxibHVlMjU1O30KXHBh
					cmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0eDIy
					NDBcdHgyODAwXHR4MzM2MFx0eDM5MjBcdHg0
					NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYwXHR4
					NjcyMFxwYXJkaXJuYXR1cmFsXHFjCgpcZjBc
					ZnMyNCBcY2YwIFx1cDAgPDxVc2VyPj59
					</data>
					<key>className</key>
					<string>Text</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>0.0</real>
						</dict>
						<dict>
							<key>color</key>
							<string>1.000000:1.000000:1.000000:1.000000</string>
							<key>ratio</key>
							<real>1</real>
						</dict>
					</array>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>fillShadowHidden</key>
					<true/>
					<key>fillShadowOffsetX</key>
					<real>2</real>
					<key>fillShadowOffsetY</key>
					<real>-2</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>frame</key>
					<string>{{179, 308}, {100, 100}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>D366E635-409A-4854-9489-57DB38B6825D</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>strokeColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>0</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>1</real>
					<key>strokeShadowBlur</key>
					<real>5</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>2</real>
					<key>strokeShadowOffsetY</key>
					<real>-2</real>
					<key>strokeType</key>
					<integer>3</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Text</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
			</array>
			<key>className</key>
			<string>Composition</string>
			<key>connections</key>
			<array>
				<dict>
					<key>pointerCorner</key>
					<integer>8</integer>
					<key>pointerIdentifier</key>
					<string>C10E606E-FF36-4431-9B0E-02097B2E0FA6</string>
					<key>shapeEdge</key>
					<integer>0</integer>
					<key>shapeIdentifier</key>
					<string>4E1DA753-C686-43F3-831A-E9F93E980837</string>
					<key>shapeRatio</key>
					<real>0.61194029850746268</real>
				</dict>
				<dict>
					<key>pointerCorner</key>
					<integer>0</integer>
					<key>pointerIdentifier</key>
					<string>C10E606E-FF36-4431-9B0E-02097B2E0FA6</string>
					<key>shapeEdge</key>
					<integer>1</integer>
					<key>shapeIdentifier</key>
					<string>D254D40C-85F2-4B0D-B659-8580F42964E7</string>
					<key>shapeRatio</key>
					<real>0.32000000000000001</real>
				</dict>
			</array>
			<key>constrainAspectRatio</key>
			<false/>
			<key>fillAngle</key>
			<integer>0</integer>
			<key>fillColor</key>
			<string>1.000000:1.000000:1.000000:1.000000</string>
			<key>fillGradientElements</key>
			<array/>
			<key>fillShadowBlur</key>
			<real>3</real>
			<key>fillShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>fillShadowHidden</key>
			<false/>
			<key>fillShadowOffsetX</key>
			<real>2</real>
			<key>fillShadowOffsetY</key>
			<real>-2</real>
			<key>fillType</key>
			<integer>0</integer>
			<key>frame</key>
			<string>{{0, 0}, {1024, 768}}</string>
			<key>gridTolerance</key>
			<integer>10</integer>
			<key>hidden</key>
			<false/>
			<key>identifier</key>
			<string>70B5DD08-22CD-4606-B454-C9A9D8188762</string>
			<key>imageAnchorRatio</key>
			<string>{0.5, 0.5}</string>
			<key>imageType</key>
			<integer>0</integer>
			<key>locked</key>
			<false/>
			<key>metrics</key>
			<dict>
				<key>group</key>
				<integer>1</integer>
				<key>height</key>
				<real>768</real>
				<key>unitType</key>
				<integer>0</integer>
				<key>width</key>
				<real>1024</real>
			</dict>
			<key>opacity</key>
			<real>1</real>
			<key>rotationAngle</key>
			<integer>0</integer>
			<key>rotationHandleRadius</key>
			<real>100</real>
			<key>scaleImage</key>
			<true/>
			<key>scrollCenterPoint</key>
			<string>{397, 393.5}</string>
			<key>strokeColor</key>
			<string>0.000000:0.000000:0.000000:1.000000</string>
			<key>strokeLineCap</key>
			<integer>0</integer>
			<key>strokeLineJoin</key>
			<integer>1</integer>
			<key>strokeLineWidth</key>
			<real>1</real>
			<key>strokeShadowBlur</key>
			<real>5</real>
			<key>strokeShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>strokeShadowHidden</key>
			<true/>
			<key>strokeShadowOffsetX</key>
			<real>2</real>
			<key>strokeShadowOffsetY</key>
			<real>-2</real>
			<key>strokeType</key>
			<integer>0</integer>
			<key>textAlign</key>
			<integer>2</integer>
			<key>textAppearanceType</key>
			<integer>0</integer>
			<key>textDrawOnPath</key>
			<false/>
			<key>textShadowBlur</key>
			<real>5</real>
			<key>textShadowColor</key>
			<string>0.000000:0.000000:0.000000:1.000000</string>
			<key>textShadowHidden</key>
			<true/>
			<key>textShadowOffsetX</key>
			<real>0.0</real>
			<key>textShadowOffsetY</key>
			<real>0.0</real>
			<key>textVerticalAlign</key>
			<integer>0</integer>
			<key>title</key>
			<string>Page 1</string>
			<key>userGuides</key>
			<array/>
			<key>userSetTitle</key>
			<false/>
			<key>zoomScaleIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>adjustmentRatioX</key>
			<real>0.0</real>
			<key>adjustmentRatioY</key>
			<real>0.0</real>
			<key>children</key>
			<array/>
			<key>className</key>
			<string>Composition</string>
			<key>connections</key>
			<array/>
			<key>constrainAspectRatio</key>
			<false/>
			<key>fillAngle</key>
			<integer>0</integer>
			<key>fillColor</key>
			<string>1.000000:1.000000:1.000000:1.000000</string>
			<key>fillGradientElements</key>
			<array/>
			<key>fillShadowBlur</key>
			<real>3</real>
			<key>fillShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>fillShadowHidden</key>
			<false/>
			<key>fillShadowOffsetX</key>
			<real>2</real>
			<key>fillShadowOffsetY</key>
			<real>-2</real>
			<key>fillType</key>
			<integer>0</integer>
			<key>frame</key>
			<string>{{0, 0}, {1024, 768}}</string>
			<key>gridTolerance</key>
			<integer>10</integer>
			<key>hidden</key>
			<false/>
			<key>identifier</key>
			<string>E324507E-6C09-443C-8A70-4B8E6F24E9C6</string>
			<key>imageAnchorRatio</key>
			<string>{0.5, 0.5}</string>
			<key>imageType</key>
			<integer>0</integer>
			<key>locked</key>
			<false/>
			<key>metrics</key>
			<dict>
				<key>group</key>
				<integer>1</integer>
				<key>height</key>
				<real>768</real>
				<key>unitType</key>
				<integer>0</integer>
				<key>width</key>
				<real>1024</real>
			</dict>
			<key>opacity</key>
			<real>1</real>
			<key>rotationAngle</key>
			<integer>0</integer>
			<key>rotationHandleRadius</key>
			<real>100</real>
			<key>scaleImage</key>
			<true/>
			<key>scrollCenterPoint</key>
			<string>{512, 383.5}</string>
			<key>strokeColor</key>
			<string>0.000000:0.000000:0.000000:1.000000</string>
			<key>strokeLineCap</key>
			<integer>0</integer>
			<key>strokeLineJoin</key>
			<integer>1</integer>
			<key>strokeLineWidth</key>
			<real>1</real>
			<key>strokeShadowBlur</key>
			<real>5</real>
			<key>strokeShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>strokeShadowHidden</key>
			<true/>
			<key>strokeShadowOffsetX</key>
			<real>2</real>
			<key>strokeShadowOffsetY</key>
			<real>-2</real>
			<key>strokeType</key>
			<integer>0</integer>
			<key>textAlign</key>
			<integer>2</integer>
			<key>textAppearanceType</key>
			<integer>0</integer>
			<key>textDrawOnPath</key>
			<false/>
			<key>textShadowBlur</key>
			<real>5</real>
			<key>textShadowColor</key>
			<string>0.000000:0.000000:0.000000:1.000000</string>
			<key>textShadowHidden</key>
			<true/>
			<key>textShadowOffsetX</key>
			<real>0.0</real>
			<key>textShadowOffsetY</key>
			<real>0.0</real>
			<key>textVerticalAlign</key>
			<integer>0</integer>
			<key>title</key>
			<string>Page 2</string>
			<key>userGuides</key>
			<array/>
			<key>userSetTitle</key>
			<false/>
			<key>zoomScaleIndex</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>image_ref_counts</key>
	<dict/>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
